{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Категории</h1>
                <ul class="list-unstyled templatemo-accordion">
                    {% for c in categorys %}
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{{c.get_absolute_url}}">
                            {{c.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            {% for c in categorys|slice:":1" %}
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3">{{c.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    {% for p in product %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="single-card rounded-0 format-img">
                                <a href="{{p.get_absolute_url}}"><img class="fix-img card-img rounded-0 img-fluid"  src="{{p.photo.url}}"></a>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none name-padding">{{p.name}}</a>
                                <p class="text-center mb-0">{{p.price}} руб.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
    <!-- End Content -->
{% endblock %}